<html>
    <h1>Systems</h1>
    <a href="/systems">systems entry point</a>
    
    <h1>Activity</h1>
    <ul>
        <li><a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=h&station=all">all stations h</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=d&station=all">all stations d</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=m&station=all">all stations m</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=y&station=all">all stations y</a>
        </li>
        <li> <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=h">no stations h</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=d">no stations d</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=m">no stations m</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=y">no stations y</a>
        </li>
        <li>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=h&station=0001">one station h</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=d&station=0001">one station d</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=m&station=0001">one station m</a>
            <a href="/activity?system=mobi_vancouver&start=2021012800&end=2021012900&frequency=y&station=0001">one station y</a>
        </li>
        <li>
            <a href="/activity?system=sobi_hamilton&start=2021012800&end=2021012900&frequency=h&station=free_bikes">free bikes h</a>
            <a href="/activity?system=sobi_hamilton&start=2021012800&end=2021012900&frequency=d&station=free_bikes">free bikes d</a>
            <a href="/activity?system=sobi_hamilton&start=2021012800&end=2021012900&frequency=m&station=free_bikes">free bikes m</a>
            <a href="/activity?system=sobi_hamilton&start=2021012800&end=2021012900&frequency=y&station=free_bikes">free bikes y</a>
    </ul>
    <h1>Stations</h1>
    <a href="/stations?system=bike_share_toronto">list stations</a>
    
</html>


